<div dir="rtl">
  <h2>סך הכל {{ sensors.length }} התקנים {{ 0 }} תקינים {{ 0 }} לא תיקינים</h2>
  <button (click)="addSeonsor()">הוסף חיישן</button>
  <ul
    style="
      display: flex;
      flex-wrap: wrap;
      gap: 3px;
      max-width: 100%;
      padding: 0;
      list-style: none;
    "
  >
    <li
      *ngFor="let sensor of sensors"
      style="
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        height: 150px;
        width: 300px;
        border: 1px solid;
      "
    >
      <img
        style="min-height: 33%; max-height: 33%"
        src="/assets/sensors/{{ sensor.Picture }}.png"
      />
      {{ sensor.WebSiteDeviceName }}
      <span
        style="cursor: pointer"
        (click)="toggleSensorState(sensor.DeviceId)"
      >
        {{ sensor.DeviceOK == 1 ? "🟢" : "🔴" }}
      </span>
      <span (click)="toggleSensorState(sensor.DeviceId)">
        תאריך עדכון אחרון: {{ sensor.LastReportDate }}
      </span>
    </li>
  </ul>
</div>
