<a [routerLink]="'/'" mat-button>חזרה</a>
<div class="form-component">
  <h2>הוסף חיישן חדש</h2>

  <form class="sensor-form" (ngSubmit)="onSubmit()" #sensorForm="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>שם החיישן</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="newSensor.WebSiteDeviceName"
        name="name"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>סוג החיישן</mat-label>
      <mat-select [(ngModel)]="newSensor.DeviceType" name="deviceType" required>
        <mat-option [value]="DeviceType.MotionHanxi"
          >גלאי תנועה Hanxi</mat-option
        >
        <mat-option [value]="DeviceType.MotionPhilio"
          >גלאי תנועה Philio</mat-option
        >
        <mat-option [value]="DeviceType.Contact">גלאי דלת/חלון</mat-option>
        <mat-option [value]="DeviceType.Water">גלאי הצפה</mat-option>
        <mat-option [value]="DeviceType.Boiler">בקר דוד</mat-option>
        <mat-option [value]="DeviceType.ZwaveLight">בקר תאורה</mat-option>
        <mat-option [value]="DeviceType.Camera">מצלמה</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>תקינות החיישן</mat-label>
      <mat-select [(ngModel)]="newSensor.DeviceOK" name="deviceOK" required>
        <mat-option [value]="1">תקין</mat-option>
        <mat-option [value]="0">לא תקין</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>תאריך התקנה</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="newSensor.InstallDate"
        name="installDate"
        required
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="sensorForm.invalid"
    >
      הוסף חיישן
    </button>
  </form>
</div>
